* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-around;
}

header h1{
    color: white;
    font-size: large;

}

header img{
    height: 90px;
    width: 90px;
    margin: 5px;
    margin-right: 50px;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, rgb(20, 82, 159),rgb(255, 255, 255));
    min-height: 100vh;
}

.ap{
    position: absolute;
    left: 20%;
}

div {
    background-color: black;
    color: white;
    border-radius: 100px;
}