* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header img{
    height: 215px;
    width: 215px;
    align-items: middle;
    display: inline-block;
}

h1{

}

body {
    text-align: center;
    background: linear-gradient(to bottom, rgb(20, 82, 159),rgb(255, 255, 255));
    min-height: 100vh;
}

body img{
    left: 150px;
}

div {
    background-color: black;
    color: white;
    border-radius: 100px;
}