@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, rgb(20, 82, 159),rgb(255, 255, 255));
    min-height: 100vh;
}


header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.header-center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left {
    justify-content: flex-start;
}


header img {
    height: 80px;
}

header h1 {
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 1em;
    text-align: center;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}




main{
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    flex: 1,1,100vw;
    flex-wrap: wrap;
    gap: 3px;
}

main .conteiner{
    margin-bottom: 400px;
    /* flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; */
}

/* main img {
    justify-content: flex-start;

} */


main .conteiner_items{
    margin-top: 30px;
    border-radius: 200px;
    padding: 20px;
    background-color: black;
    
}

main div .conteiner_items a {
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.a{
    font-size: 45px
}


.apresentacao{
      font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.vini2{
    height: 600px;
    width: 680px;
}

section {
    margin-top: 100px;
    display: flex;
    gap: 10px;
}

section .historia {
    background-color: black;
    padding: 10px;
    border-radius: 50px;
        width: 600px;
        height: 480px;
}

section .historia  p {
   color: white;
   font-size: 22px;
}

section .racism {
    background-color: black;
    padding: 10px;
    border-radius: 50px;
        width: 670px;
        height: 540px;
}

section .racism  p {
   color: white;
   font-size: 22px;
}

.vini3{
    height: 560px;
    width: 720px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
}

footer p{
    color: white
}

@media only screen and (max-width:980px){
    header h1 {
        letter-spacing: 5px;
    }
    main img {
        width: 300px;
        height: calc(100vh - 200px);
        object-fit: cover;
    }
    main .conteiner_items{
    padding: 10px;

}
    
}
