* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, rgb(222, 192, 46),rgb(35, 34, 143));
    min-height: 100vh;
}