* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: black;
    display: flex;
    align-items: center; /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    padding: 10px 0; /* dá respiro acima e abaixo */
}

header h1 {
    color: white;
    font-size: 60px; /* maior e mais próximo do da imagem */
    font-weight: 900; /* bem grosso */
    margin: 0; /* remove espaçamento padrão */
    letter-spacing: 3px; /* espaço entre letras */
}

header img {
    height: 80px;
    width: auto; /* mantém proporção */
    margin-right: 20px; /* separa da palavra VINÍCIUS */
}


body {
    text-align: center;
    background: linear-gradient(to bottom, rgb(20, 82, 159),rgb(255, 255, 255));
    min-height: 100vh;
}

.ap{
    position: absolute;
    left: 20%;
}

div {
    background-color: black;
    color: white;
    border-radius: 100px;
}